@tailwind base;
@tailwind components;
@tailwind utilities;

.css-dev-only-do-not-override-17seli4.ant-typography {
  color: white;
  font-size: 18px;
}

.swiper-button-next:after {
  content: none;
}

.ant-space-gap-col-small {
  column-gap: 25px;
}

body{
  font-family: 'Poppins', sans-serif;
}

.custom-class {
  font-family: 'Poppins', sans-serif;
}